// app global css in SCSS form

@font-face {
  font-family: 'IranSans';
  src: url("../assets/font/IRANSansWeb.ttf"), url("../assets/font/IRANSansWeb.eot"),
  url("../assets/font/IRANSansWeb.woff"), url("../assets/font/IRANSansWeb.woff2");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'IranSans', sans-serif;
}

body {
  ::-webkit-scrollbar {
    width: 3px !important;
    background: #c1c1c1;
  }
}

.q-header {
  background: #FFFFFF !important;

  .q-btn {
    color: $dark;

    @media (min-width: 1007px) {
      display: none;
    }
  }
}

.q-router-link--active {
  background: $primary-light;
}

.q-expansion-item__content {
  .q-expansion-item {
    .q-item {
      padding-left: 3rem !important;
    }
  }
}

.q-drawer {
  width: 200px !important;

  .q-list .q-item .q-item__section--side {
    //padding: 0 !important;
    min-width: auto !important;

    .q-icon {
      color: $primary;
    }
  }
}

@media (min-width: 1007px) {
  .q-page-container {
    padding-left: 200px !important;
  }
}

.q-table__container .q-table tbody tr {

  td {
    span {
      cursor: pointer;
    }

    .row-numbers::before {
      counter-increment: cssRowCounter;
      content: counter(cssRowCounter);
    }
  }
}

.q-table__bottom {
  //display: none !important;

  .q-icon.q-table__bottom-nodata-icon {
    color: $warning;
  }
}

.edit-btn {
  .q-icon {
    color: $primary;
  }
}

.delete-btn {
  .q-icon {
    color: $red;
  }
}

.button {
  font-size: .75rem;
  border-radius: .25rem;
  padding-right: .5rem;
  padding-left: .5rem;
}

.q-dialog {
  .q-card {
    min-width: 450px !important;
  }
}

.btn {
  border-radius: .5rem;
  padding-left: .5rem;
}

.second-input {
  margin-left: .5rem;

  @media (max-width: 1024px) {
    margin-left: 0;
  }
}

.label {
  font-size: .9rem;
  display: inline-block;
  margin-bottom: .5rem;
}

.q-option-group {
  justify-content: flex-start !important;
}

.q-dialog {
  .input-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.submit-btn {
  font-size: 1rem;
  width: 100%;
  margin-top: 1rem;
}
